<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
  <header class="header">
  <h1 align="center">学習管理app</h1>
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "チャットルームへ", rooms_path %>
            <%= link_to "学習管理へ", meetings_path %>
          </div>
          <% if user_signed_in? %>
             <div class="nav__right"> 
               <%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: :nav__logout %>
               <%= link_to "新しい予定",  new_meeting_path,class:"link-btn" %>
             </div> 
      
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録",  new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
